    /* Estilo para los botones */
    .bigbutton {
        background-color: #9DC6E6;
        color: white;
        border: none;
        padding: 15px 30px; /* Aumentamos el relleno para hacer los botones más grandes */
        margin: 5px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 18px; /* Aumentamos el tamaño del texto */
    }

    /* Estilo para el botón al pasar el mouse sobre él */
    button:hover {
        background-color: #0056b3;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #E6F7FF;
        margin-bottom: 100px;
    }
    h1 {
        color: rgb(6, 6, 6);
    }
    #MEWalsh {
        display: flex;
    }
    
    .caja {
        flex: 1;
        padding: 10px;
        border: 3px solid #ffffff;
        background-color: #9DC6E6;

        margin: 5px;
    }
    
    .contenido {
        padding: 10px;
    }
    
    h4 {
        margin: 0;
        font-size: 18px;
    }
    
    p {
        margin: 0;
        font-size: 14px;
    }
         /* Estilo para el fondo oscuro del popup */
    .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1;
            justify-content: center;
            align-items: center;
        }

        /* Estilo para el contenedor del mensaje */
    .popup {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        #imagenPopup:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        #imagenPopup2:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        #imagenPopup3:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        #imagenPopup4:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        #imagenPopup5:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        #imagenPopup6:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        #imagenPopup7:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        #imagenspyst:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        #imagenmanif:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        /* Estilo para el pie de página */


        .pie-de-pagina {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 999; /* Valor alto para asegurarse de que esté en la parte superior */
}
.imagen-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Opcional: ajusta el espacio entre las imágenes */
    max-width: 100%; /* Asegura que el contenedor no sea más ancho que su contenedor padre */
}

.imagen-container img {
    max-width: 100%; /* Asegura que las imágenes no sean más anchas que el contenedor */
    height: auto; /* Mantiene la proporción original de las imágenes */
    margin-bottom: 10px; /* Espacio entre las imágenes (ajusta según tus preferencias) */
}