
    body {
        font-family: Arial, sans-serif;
        background-color: rgb(155, 218, 239);
    }
    h1 {
        color: rgb(6, 6, 6);
    }
    #MEWalsh {
        display: flex;
    }
    
    .caja {
        flex: 1;
        padding: 10px;
        border: 3px solid #ffffff;

        margin: 5px;
    }
    
    .contenido {
        padding: 10px;
    }
    
    h4 {
        margin: 0;
        font-size: 18px;
    }
    
    p {
        margin: 0;
        font-size: 14px;
    }
    